<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Key0" value="datasource=localhost;port=3306;username=root;password=Daydreamer2" />
		<add key="Key1" value="select * from inventory.barang" />
		<add key="Key3" value="localhost" />
		<add key="Key4" value="root" />
		<add key="Key5" value="Daydreamer2" />
		<add key="Key6" value="inventory" />
		<add key="Key7" value="update inventory.barang set kode='" />
		<add key="Key8" value="' where nama='" />
		<add key="Key9" value="insert into inventory.barang(kode, nama, harga, jumlah, jenis)" />
		<add key="Key10" value="'WHERE kode='" />
		<add key="Key11" value="select * from inventory.barang where kode='" />
		<add key="Key12" value="delete from inventory.barang WHERE kode='" />
	</appSettings>
</configuration>
